<% provide(:title, "About") %>
<h1>About</h1>
<h2>Creator</h2>
<p>Austin Harshberger</p>
<p>
   <img src="https://media.licdn.com/dms/image/C4E03AQFiugnH52J7bA/profile-displayphoto-shrink_200_200/0?e=1542240000&v=beta&t=gPm9JhQ06Zjg0eqlddzDffgJvXOyndKoOQERwrEZI90"> 
</p>
<a id="link" href="https://www.linkedin.com/in/aharshbe/" target="_blank">LinkedIn</a>
<a id="link" href="https://www.facebook.com/austin.harshberger" target="_blank">Facebook</a>
<a id="link" href="https://devrobot.live/" target="_blank">Website</a>
</p>