<% provide(:title, "Links") %>
<h1>Links</h1>
<head>
  <meta charset="utf-8">
  <title>CS 232 Lab Links: aharshbe</title>
<head>
<div>
  <h2>Lab 1</h2>

  <p>Screenshot of first Rails app</p>
  <img src='https://hills.ccsf.edu/~aharshbe/images/cs232/first_app.jpg' alt="Lab 1 -- First Rails App" style="width:250px;height:150px;">
  <img src='https://hills.ccsf.edu/~aharshbe/images/cs232/first_app_1.jpg' alt="Lab 1 -- First Rails App" style="width:250px;height:150px">
  <img src='https://hills.ccsf.edu/~aharshbe/images/cs232/first_app_3.jpg' alt="Lab 1 -- First Rails App" style="width:250px;height:150px">
  <p></p>
  <i>All images are zoomable if too small</i>

  <h2>Lab 2</h2>
  <p>URL for deployed Rails app: <a href="https://fast-woodland-47431.herokuapp.com/" target="_blank">Click me!</a></p>

  <h2>Lab 3</h2>
  <img src='https://hills.ccsf.edu/~aharshbe/images/cs232/error_l3.jpg' alt="Proof of validation" style="width:250px;height:150px">
  <p></p>
  <p>URL for deployed Toy app (built w/Rails): <a href="https://cryptic-mountain-44459.herokuapp.com/users" target="_blank">Click me!</a></p>
</div>