// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Variables
@font-face {
  font-family: "hp";
  // src: url(/assets/fonts/hp.ttf) format("truetype");
  src:font-url('fonts/hp.ttf');
}

@font-face {
  font-family: "hp_cool";
  // src: url(assets/fonts/cool_hp.ttf) format("truetype");
  src:font-url('fonts/cool_hp.ttf');
}

@font-face {
  font-family: "lumos";
  // src: url(/assets/fonts/lumos.otf) format("truetype");
  src:font-url('fonts/lumos.otf');
}

$background-color: #fefcf0; 
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$hp-font: "hp";
$hp_body-font: "hp_body";
$hp_cool-font: "hp_cool";
$color: #222222; 
$color_gold: #DEC421; 
$link-color: #0000aa; 


// Using variables and nesting of rules makes writing CSS simpler.  
html {
  background-color: #eee;
  background-image: url("https://static.wixstatic.com/media/39eadc_1ed895f8cf8549a5ad342c3bd962c26b~mv2.gif");
} 

body { 
  width: 800px;
  margin:50px auto;
  border:solid 2px gray;
  background-color: $background-color;
  padding: 50px;
  font-family: $hp-font;
} 
.welcome { 
  width:41em; 
  margin: 50px auto; 
  color: $color; 
  p { 
    color: $color_gold; 
    li { 
      a { 
        color: darken($link-color, 20%); 
      }   
    }   
  }   
}