<!DOCTYPE html>
<html>
  
  <head>
      <a id="myHeader" href="/ccsf_rails/index">Home</a>
      <a id="myHeader" href="/ccsf_rails/links">Links</a>
      <a id="myHeader" href="/ccsf_rails/about">About</a>
      <a id="myHeader" href="/ccsf_rails/assignments">Assignments</a>
      <hr></hr>
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <style>
      p {
          font-family: "lumos";
      }
      h1 {
          color: rgb(207,181,59);
      }
      h2 {
          font-family: "lumos";
          text-decoration: underline;
      }
      #link {
        margin-right: 10px;
        text-decoration: none;
      }
      #myHeader {
        color: black;
        font-family: "lumos";
        font-size: 30px;
        margin-right: 80px;
        text-decoration: none;
      }
      img {
        padding:2px;
        border:1px solid #DEC421;
        background-color:#ff0;
      }
    </style>
    <%= yield %>
  </body>
  
  
</html>